/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f8f9;
}

/* Header */
header {
    height: 90px;
    background-color: white;
}

#logo {
    height: 100%;
    vertical-align: middle;
    padding-left: 5px;
}

#logo-title {
    display: inline;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    font-size: 3.5rem;
}

/* Main container */

/* .container {

} */