/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f6f8f9;
}

hr { 
    border-top: 1px solid #f6f8f9; 
}

/* Header */
header {
    height: 90px;
    background-color: white;
}

#logo {
    height: 100%;
    vertical-align: middle;
    padding-left: 5px;
}

#logo-title {
    display: inline;
    vertical-align: middle;
    font-size: 3.5rem;
}

/* Main container */

.container {
    background-color: white;
    margin: 50px 25%;
    height: 1080px;
    border-radius: 10px;
}

/* Buttons */
#button-section {
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.button {
    display: inline-block;
    text-decoration: none;
    border: 1px solid black;
    padding: 5px 15px;
    border-radius: 6px;
    font-weight: 400;
}

#button-blue {
    background-color: #1e90ff;
    color: white;
    border-color: #1e90ff;
}

#button-white {
    color: grey;
}