/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f6f8f9;
}

hr { 
    border-top: 1px solid #f6f8f9; 
}

/* Header */
header {
    height: 90px;
    background-color: white;
}

#logo {
    height: 100%;
    vertical-align: middle;
    padding-left: 5px;
}

#logo-title {
    display: inline;
    vertical-align: middle;
    font-size: 3.5rem;
}

/* Main container */

.container {
    background-color: white;
    margin: 50px 25%;
    border-radius: 10px;
}

.sections {
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 15px;
}

/* Buttons */
#button-section {
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.button {
    display: inline-block;
    text-decoration: none;
    border: 1px solid black;
    padding: 5px 15px;
    border-radius: 6px;
    font-weight: 400;
}

#button-blue {
    background-color: #1e90ff;
    color: white;
    border-color: #1e90ff;
}

#button-white {
    color: grey;
}

/* Sections */
.section-title {
    font-weight: 500;
}

.down-arrow {
    font-size: 15px;
}

p {
    margin: 25px 10px;
}

/* check */
.check {
    height: 1.5rem;
    width: 1.5rem;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

.check-yes {
    color: green;
    border-color: green;
}

.check-no {
    color: red;
    border-color: red;
}

/* labels */
.label {
    padding: 3px 12px;
    border-radius: 15px;
    color: white;
}

.label-blue {
    background-color: #45abea;
}

.label-violet {
    background-color: #9c72e4;
}

.label-orange {
    background-color: #f29e33;
}

.label-cyan {
    background-color: #64c0a9;
}

.label-pink {
    background-color: #d863a1;
}

.label-peas {
    background-color: #b0c926;
}